/* style.css for cormeenwalkers by Siobhan O'Brien Dec 2022 */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Nunito&display=swap');

/* 
--timberwolf: #e5dfd8ff;
--cinereous: #98857aff;
--grullo: #aaa596ff;
--pale-silver: #c4b8b3ff;
--mauve-taupe: #976077ff; changed to #976089ff;

$timberwolf: rgba(229, 223, 216, 1);
$cinereous: rgba(152, 133, 122, 1);
$grullo: rgba(170, 165, 150, 1);
$pale-silver: rgba(196, 184, 179, 1);
$mauve-taupe: rgba(151, 96, 119, 1);
 */

* {
    /* Clear box model defaults*/
    margin: 0;
    padding: 0;
    border: none;
}

/* fonts in use Bitter & Nunito */

body {
    font-family: Nunito, san-serif;
    color: #fff;   /* white looks better than the generated palette colors */
}

h1 {
    font-family: Bitter, serif;
    color: #976089ff;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* remove default hyperlink underline */
    color: #976089ff;
}

#menu a:hover,
#aboutsection a:hover {
    background-color: rgba(152, 133, 122, 0.5);
}

.active {
    border: 1mm solid #976089ff;
}

/* Hero Section */

#hero-container {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text,
#hero-text h2 {
    color: #fff;
    /* 3 second animation creates a zoom effect on the cover text over the hero image */
    animation-name: herotext-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/cormeen-sports-complex-zoomin.jpg') no-repeat center center;
    background-size: cover;
}

#hero-text {
    font-family: Bitter, serif;
    text-align: center;
    letter-spacing: 3px;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(152, 133, 122, 0.8);
    bottom: 75px;
    right: 150px;
    position: absolute;
}

/* creates the level of zoom for text on hero image */
@keyframes herotext-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

/* About section */

#aboutsection {
    background-color: #976089ff;
    /* background-image: url(../images/irish-farmstead-from-hill.jpg); */
    width: 100%;
    height: 300px;
    border: 3px solid #e5dfd8ff;
}

#aboutsection div {
    letter-spacing: 2px;
    width: 50%;
    height: 300px;
    float: left;
    padding: 10px 10px;
    text-align: left;
    box-sizing: border-box;
}

#aboutsection a {
    text-decoration: none;
    /* remove default hyperlink underline */
    /* border: 1mm solid #976089ff ; */
    color: #fff;
    font-weight: bold;
}

/* Group Section */

#groups {
    /* background-image: url(../images/road-walking-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 300px;
    border: 3px solid #e5dfd8ff;
    box-sizing: border-box;
}

/* overflow: hidden; */

#groups div {
    background-color: rgba(151, 96, 119, 0.8);
    letter-spacing: 2px;
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    /* text-size-adjust: auto; experimental ...for smart phones/tablets that use text inflation algorithm */
    border: 3px solid #fff;
    box-sizing: border-box;
}

#groups h2 {
    color: #fff;
}

/* Benefit Section */

#benefitsection {
    background-color: #976089ff;
    width: 100%;
    height: 300px;
    border: 3px solid #e5dfd8ff;
    box-sizing: border-box;
}

#benefitsection div {
    letter-spacing: 2px;
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: left;
    border: 3px solid #fff;
    box-sizing: border-box;
}

/* Form Section */

.form-section {
    clear: left;
    /* height: 150px; */
    width: 100%;
    background-color: #976089ff;
}

.signup-form {
    background-color: #98857aff;
    width: 50%;
    text-align: center;
    margin: auto; 
    padding: 1%;
}

.text-input,
.signup-button {
    font-family: inherit;
    /*overwrite default Arial so Nunito is rendered */
    font-weight: bold;
}

::placeholder {
    color: #976089ff;
}