/* style.css for cormeenwalkers by Siobhan O'Brien */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Nunito&display=swap');


* {             /* Clear box model defaults*/
    margin: 0;
    padding: 0;
    border: none;
}

/* fonts in use Bitter & Nunito */

body {
    font-family: Nunito, san-serif;
}

h1 {
    font-family: Bitter, serif;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Form Section */

.text-input, 
.signup-button {
    font-family: inherit;   /*overwrite default Arial so Nunito is rendered */
    font-weight: bold;
}