/* style.css for cormeenwalkers by Siobhan O'Brien Dec 2022 */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Nunito&display=swap');

/* 
--shadow: #978960ff;
--olive: #708212ff;
--mauve-taupe: #976077ff;

$shadow: rgba(151, 137, 96, 1);
$olive: rgba(112, 130, 18, 1);
$mauve-taupe: rgba(151, 96, 119, 1);
*/
/* 
* {
    outline: 1px solid #f00 !important;
} */

/* Clear box model defaults*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


/* fonts in use Bitter & Nunito */

body {
    font-family: Nunito, san-serif;
    color: #fff;
    /* white looks better than the generated palette colors */
    /* color: orangered; */
}

h1 {
    font-family: Bitter, serif;
    color: #708212ff;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a,
#thanks a {
    text-decoration: none;
    color: #708212ff;
    padding: 2px;
}

a:hover {
    /*aboutsection */
    background-color: rgba(151, 96, 119, 0.5);
    /* border-radius: 2px; */
    border: 2px solid #708212ff;
}

/* #menu a:hover */
/*#aboutsection a:hover,*/
/* {
    background-color: rgba(151, 96, 119, 0.5);
    border-radius: 2px;
    border: 1mm solid #708212ff;
} */

.active {
    border-radius: 2px;
    border: 1mm solid #976077ff;
}

/* 
.flex-acontainer {
    clear: both;
    display: flex;
    background-image: url(../images/grass-middle-road.jpg);
    height: 300px;
  }
  
  .flex-acontainer > div {
    background-color: red;
    margin: 10px;
    padding: 2%
    font-size: 30px;
  }
 */


/* Hero Section */

#hero-container {
    clear: both;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: url('../images/grass-middle-road.jpg') no-repeat center center;
    background-size: cover;
    align-items: center;
    height: 450px;
    position: relative;
    /* animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
}

#hero-links ul {
    display: flex;
    list-style-type: none;
    margin-top: 8px;
}

#hero-links li {
    text-align: center;
}

#hero-links a {
    /* background-color:  rgba(151, 96, 119, 0.8); */
    background-color: rgba(151, 137, 96, 1);
    letter-spacing: 3px;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    margin: 0 5px;
}


#hero-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 3px;
    background-color: rgba(151, 137, 96, 1);
    /*shadow*/
    /* background-color: rgba(151, 137, 96, 0.8); */
    bottom: 75px;
    align-items: center;
    position: absolute;
    animation-name: herotext-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#hero-text p {
    text-align: center;
}

/* zoom on hero image */

@keyframes hero-zoomback {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

/* creates the level of zoom for tag line text on hero image */
@keyframes herotext-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.8);
    }
}

@keyframes herotext-smallzoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* About section */

#aboutsection {
    background-color: rgba(151, 96, 119, 0.8);
    width: 100%;
    height: 300px;
    border: 4px solid #000;
    /*#708212ff;*/
}

#aboutsection div {
    letter-spacing: 2px;
    width: 50%;
    height: 300px;
    float: left;
    padding: 10px 10px;
    text-align: left;
    /* box-sizing: border-box; */
}

#aboutsection ul {
    text-indent: 10%;
    list-style-type: none;
    font-size: 100%;
}

#aboutsection a {
    color: #fff;
    font-weight: bold;
    font-size: 110%;
}

#aboutsection img,
#aboutsection iframe {
    /* border: 4px solid #000; */
    width: 50%;
    height: 100%;
}

#aboutsection iframe {
    float: right;
}

/* Group Section */

#groups {
    width: 100%;
    /* height: 300px; */
    border: 4px solid #708212ff;
    /* can't see bottom of this border*/
    box-sizing: border-box;
}

/* overflow: hidden; */

#groups div {
    background-color: rgba(151, 137, 96, 1);
    /* background-color: rgba(151, 96, 119, 1);   full mauve */
    letter-spacing: 2px;
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    /* text-size-adjust: auto; experimental ...for smart phones/tablets that use text inflation algorithm */
    border: 3px solid #708212ff;
    box-sizing: border-box;
}

#groups h2 {
    color: #fff;
}

/* Benefit Section */

.benefit-section {
    clear: both;
    display: flex;
    /* background-color: rgba(151, 96, 119, 0.7); */
    background-color: #978960ff;
    justify-content: space-around;
    text-align: center;
}

.benefit-image {
    width: 300px;
    height: 300px;
    background-color: #978960ff;
    margin: 10px;
    padding: 30px;
    border: 3px solid #fff;
    border-radius: 25%;
}

.benefit-text {
    background-color: rgba(151, 137, 96, 1);
    border-radius: 15%;
    margin: 10px;
    font-size: 20px;
    border: 3px solid #fff;
    padding: 30px;
}

.benefit-section ul {
    /* background-color: rgba(151, 96, 119, 1); */
    margin: 10px;
    border-radius: 15%;
}

.benefit-section li {
    list-style-type: none;
    padding: 6px 12px;
    text-align: left;
}

#leaves-bg {
    background: url('../images/legs-in-leaves.jpg') no-repeat center center;
    height: 100%;
    border-radius: 25%;
}


#carpark-bg {
    background: url('../images/cormeen-sports-complex-walk.jpg') no-repeat center center;
    height: 100%;
    border-radius: 25%; 
}


/* Footer */

footer {
    /* clear: both; */
    height: 75px;
    background-color: #976077ff;
    /* full mauve*/
    text-align: center;
    margin-top: 0;
    /* position: fixed; */
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    margin: 1%;
    color: #fff;
}


/* Form Section */

.form-section {
    display: flex;
    clear: both;
    height: 82vh;
    width: 100%;
    background: url(../images/windmills-from-lough-an-lea.jpg) no-repeat center center;
    background-size: cover;
}

.signup-form {
    background-color: rgba(151, 137, 96, 0.5);
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1%;
}

.text-input,
.signup-button {
    font-family: inherit;
    font-weight: bold;
    color: #708212ff;
    border: 2px ridge rgba(151, 96, 119, 1);
    padding: 13px;
    margin-bottom: 26px
}

::placeholder {
    color: #708212ff;
    /* olive*/
    font-weight: bold;
}

/* form confirmation */

#confirm {
    background: url('../images/windmills-from-lough-an-lea.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm h2 {
    margin: 10px;
    background-color: #708212ff;
}

#thanks {
    /* display: flex; */
    background-color: rgba(151, 137, 96, 0.8);
    text-align: center;
}

#thanks a {
    text-decoration: none;
}

/* Gallery Section */
/*page too short, change so it shows full screen lough an lae*/

#photos {
    clear: both;
    color: #708212ff;
    /* line-height: 0; */
    column-count: 3;
    /* column-gap: 0px; */
    margin: 0px;
}

#photos img {
    width: 100%;
    border: #708212ff 3px solid;
    margin: 3px;
}

/* Media queries */

/* About text block breaks at 1340 coz need height at 300px so map & pic fill block */

@media screen and (max-width: 1340px) {

    #aboutsection div {
        width: 100%;
        background-color: rgba(18, 200, 109, 0.8);
        height: auto;
    }
}

/* For larger to medium screens size like tablet < 1040px */
@media screen and (max-width: 1040px) {

    #aboutsection img,
    #aboutsection iframe {
        width: 100%;
        height: auto;
    }

    #groups div {
        /*breaks at 1037*/
        width: 50%;
        border: 5px solid #708212ff;
    }

    .benefit-section {
        flex-wrap: wrap;
    }

    .benefit-text {
        width: 50%;
        align-self: center;
    }

    footer {
        padding: 0 20px;
    }
}

/* for mobile screen size < 610px */
@media screen and (max-width: 610px) {

    .benefit-text {
        width: auto;
        font-size: 70%;
    }

    .benefit-section {
        flex-direction: column;
        align-content: center;
    }

    .benefit-circle {
        width: 200px;
        height: 200px;
    }

}


/* for mobile screen size < 570px */
@media screen and (max-width: 570px) {

    #hero-text,
    #hero-text p {
        width: 70%;
        /* so hero text (tag line) will fit in screen */
    }

}

    /* For smaller mobile < 375px */
    @media screen and (max-width: 375px) {

        #logo {
            margin-left: 10px;
        }

        #menu {
            clear: left;
            float: left;
            margin-left: 10px;
            margin-bottom: 10px;
            line-height: 25px;
        }

        #menu a {
            font-size: 80%;
            letter-spacing: 0;
            margin: 0 8px;
            padding: 1px;
        }

        #hero-container {
            height: 80vh;
        }

        #hero-links {
            font-size: 80%;
            letter-spacing: 0;
            margin: 0 8px;
            font-weight: bold;
        }

        #hero-text {
            animation-name: herotext-smallzoom;
        }

        /*About section*/

        #aboutsection div {
            width: 100%;
            float: left;
        }

        /* Groups*/

        #groups div {
            width: 100%;
            border: 5px solid #708212ff;
        }



        /* footer*/
        footer {
            height: auto;
        }

        /* Gallery */

        #photos {
            column-count: 2;
        }
    }